/* About me */
.aboutme_text {
  color: #333 !important;
  font: smaller !important;
  line-height: 22px !important;
  white-space: pre-line !important;
  word-break: break-all !important;
}

/* Educations and Experiences */
.resume_timeline .timeline_content {
  padding-top: 1px;
  padding-bottom: 18px;
}
.resume_timeline .timeline_content .timeline_title {
  font-size: 16px !important;
  font-weight: 550 !important;
  color: #333 !important;
}
.resume_timeline .timeline_content .timeline_date {
  color: #666 !important;
}
.resume_timeline .timeline_description {
  white-space: pre-line !important;
  word-break: break-all !important;
  margin-top: 6px;
  font-size: small;
  color: #333;
}

/* Skills */
.skill {
  border-radius: 6px;
  padding: 20px;
  height: 100%;
  min-height: 180px;
  box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.08) !important;
}
.skill .skill_title {
  font-size: 14px !important;
  font-weight: 550 !important;
  line-height: 35px !important;
}
.skill .skill_description {
  display: flex;
  align-items: center;
  line-height: 18px !important;
  font-weight: 400 !important;
}
.skill .skill_description .timeline_dot {
  border-color: var(--main-color) !important;
  padding: 2px !important;
  margin-right: 5px !important;
}
