/* Tabs */
.customTabs .active {
  color: var(--main-color) !important;
}

.customTabs .customTabs_item {
  padding: 0px !important;
  min-width: 0px !important;
  margin-right: 20px !important;
  text-transform: inherit !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  outline-width: 0px !important;
}

/* Cards */
.customCard {
  position: relative !important;
  height: 100%;
  max-width: 350px;
  border-radius: 6px;
  box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.08) !important;
  overflow: hidden !important;
  outline-width: 0px !important;
}
.customCard:hover .customCard_image {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
}
.customCard .MuiCardActionArea-root:focus {
  outline: none !important;
}
.customCard .customCard_image {
  height: 140px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.customCard .customCard_title {
  font-weight: 550;
}
.customCard .customCard_caption {
  color: #666 !important;
  font-weight: 400;
}

/* Dialog */
.projectDialog .projectDialog_title .MuiTypography-root {
  font-weight: 550 !important;
}
.projectDialog .projectDialog_image {
  max-height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}
.projectDialog .projectDialog_description {
  margin-top: 10px !important;
  white-space: break-spaces !important;
}
.projectDialog .projectDialog_actions {
  justify-content: center !important;
  margin-bottom: 20px;
}
.projectDialog .projectDialog_icon {
  color: black;
  cursor: pointer;
}
.projectDialog .projectDialog_icon:hover {
  color: var(--main-color);
}
